@import '@sass/_variables.scss';
@import '@sass/_mixins.scss';

.textField{
    border: 1px solid $border-color;
    border-radius: $global-radius;
    height: 34px;
    @include default-font-style();
}

.small{
    max-width:20px;
    padding-inline: calc($h-lg-spacing / 2);
}

.medium{
    padding-inline: $h-lg-spacing;
}