@import "@sass/_variables.scss";

.layout{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-footer{
    width: 100%;
    background-color: $violet-300;
    display: flex;
    align-items: center;
    justify-content:center;
}

.main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content:center;
}

.footer{
    height: 30px;
}

.header{
    height: 60px;
}

.inner-small{
    width: 100%;
    padding-inline: $h-sm-spacing;
    padding-block: $v-sm-spacing;
}

.inner-large{
    width: 100%;
    max-width: 640px;
    padding-inline: $h-lg-spacing;
    padding-block: $v-lg-spacing;
}