/** 

 Color Palette

**/

$violet-100: #A9A6FA;
$violet-200: #7471E5;
$violet-300: #5956CC;
$violet-400: #3C39B0;
$violet-500: #201D8D;
$violet-600: #272570;
$violet-700: #02004F;


$gray-100: #FFFFFF;
$gray-200: #EEEDED;
$gray-300: #CBCBCB;
$gray-400: #9F9F9F;
$gray-500: #787878;
$gray-600: #585858;
$gray-700: #000000;

$primary-base: $violet-300;
$secondary-base: $gray-100;
$primary-text: $gray-700;
$contrast-text-base:$gray-200;

$border-color: $gray-300;

/**

Padding, Margin and Column Gap

**/
$v-spacing: 10px;
$h-spacing: 10px;
$v-sm-spacing: 10px;
$h-sm-spacing: 10px;
$v-lg-spacing: 20px;
$h-lg-spacing: 20px;
$column-gap: 20px;

/** 

Font size

**/

$font-sizes: (
    "h1-lg": 1.714rem,
    "h2-lg": 1.429rem,
    "h3-lg": 1.286rem,
    "h4-lg": 1rem,
    "normal-lg": 0.857rem,
    "small-lg": 0.714rem,
    "h1-sm": 1.429rem,
    "h2-sm": 1.286rem,
    "h3-sm": 1rem,
    "h4-sm": 0.857rem,
    "normal-sm": 0.714rem,
    "small-sm": 0.571rem,
);

/** 

Font weight

**/

$font-bold:800;
$font-medium:400;

/** 

Font style

**/

$default-font-style-name: 'Helvetica';


/**

Line Height

**/

$line-heights: ( 
    "h1-lg": 1.429rem,
    "h2-lg": 1.286rem,
    "h3-lg": 1rem,
    "h4-lg": 0.857rem,
    "normal-lg": 0.714rem,
    "small-lg": 0.714rem,
    "h1-sm": 1.286rem,
    "h2-sm": 1.143rem,
    "h3-sm": 0.857rem,
    "h4-sm": 0.714em,
    "normal-sm": 0.714rem,
    "small-sm": 0.714rem
);

/**

Border radius

**/

$global-radius: 5px;
$fully-rounded: 50%;

