@import '@sass/_variables.scss'; 

.button{
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
}

.button.primary {
   background-color: $primary-base;
}

.button.secondary {
   background-color: $secondary-base;
}

.button.gray {
   background-color: $gray-200;
}

.button.has-border{
   box-shadow: 0 0 4px 0 $gray-300;
   border-radius: $global-radius;
}

.button.transparent{
   background-color: transparent;
}

.button.icon{
   width: 30px;
   height: 30px;
}

.button.tiny{
   padding: 0px;
}

.button.small{
   padding: calc($v-spacing / 2);
}

.button.medium{
   padding: $v-spacing;
}

.button.large{
   padding: $v-spacing 2 * $v-spacing;
}